# 19% error on CIFAR-10 in 20 minutes - layer definition file 

[data]
type=data
dataIdx=0

[labels]
type=data
dataIdx=1

[conv1]
type=conv
inputs=data
channels=3
filters=32
padding=2
stride=2
filterSize=6
initW=0.0001
partialSum=1
sharedBiases=1
neuron=relu

[conv2]
type=conv
inputs=conv1
filters=64
padding=2
stride=2
filterSize=6
channels=32
neuron=relu
initW=0.01
partialSum=1
sharedBiases=1

[conv3]
type=conv
inputs=conv2
filters=64
padding=2
stride=2
filterSize=3
channels=64
neuron=relu
initW=0.01
partialSum=1
sharedBiases=1

[conv4]
type=conv
inputs=conv3
filters=128
stride=1
filterSize=6
channels=64
neuron=relu
initW=0.01
partialSum=1
sharedBiases=1

[fc10]
type=fc
outputs=10
inputs=conv4
initW=0.01

[probs]
type=softmax
inputs=fc10

[logprob]
type=cost.logreg
inputs=labels,probs
